@model IEnumerable<OnBoardingTask2018Jun.Models.New_Models.Product>

@{
    ViewBag.Title = "Product";
}

<h2>Products</h2>

<p>
    <a href=@Url.Action("Create","Products") class="btn btn-primary">Add new Product</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Action(Edit)
        </th>
        <th>
            Action(Delete)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href=@Url.Action("Edit", "Products", new { id = item.Id }) class="btn btn-warning" id="@item.Id">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </a>
            </td>
            <td>
                <a href=@Url.Action("Delete", "Products", new { id = item.Id }) class="btn btn-danger" id="@item.Id">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
            </td>
        </tr>
    }

</table>

<!--Conclusion-->
<hr /><hr /><hr />
<h3>In this page:</h3>
<p>Default ASP.NET MVC with CRUD function</p>
<p>Bootstrap</p>

<p>React.js</p>
<p>Bootstrap Theme &Aacute; Bootstrap-React</p>
<p>React-Modal</p>
<p>React-Validation</p>
<p>Data passing through Ajax Json</p>